ul {
	list-style: none;
	margin-left: 0;
	padding-left: 0;
}

.flex-center {
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	align-items: center;
}
.flex-col-rowcenter {
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.pdt-30 {padding-top: 30rpx;}
.mgb-20 {
	margin-bottom: 20rpx;
}
.mgb-30 {
	margin-bottom: 30rpx;
}
.mgb-50 {
	margin-bottom: 50rpx;
}

.text-plh{
	color: rgb(210,210,210);
}

.btn200x60 {
	width: 200rpx;
	height: 60rpx;
	margin-top: 30rpx;
	font: bold 35rpx/60rpx $fontF;
}