$gray230: rgb(230,230,230);
$gray210: rgb(210,210,210);
$gray50: rgb(50,50,50);
$gray100: rgb(100,100,100);

$fontF: "微软雅黑","Micosoft Yahei","Micosoft YaHei","sans-serif";
$fontC: rgb(70,70,70);
$white01: rgba(255,255,255,0.1);
$white04: rgba(255,255,255,0.4);
$cardC: rgb(255, 250, 232);