ul {
	list-style: none;
	margin-left: 0;
	padding-left: 0;
}

.flex-center {
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	align-items: center;
}

.mgb-20 {
	margin-bottom: 20rpx;
}
.mgb-30 {
	margin-bottom: 30rpx;
}
.mgb-50 {
	margin-bottom: 50rpx;
}

.text-plh{
	color: rgb(210,210,210);
}