$gray230: rgb(230,230,230);
$gray210: rgb(210,210,210);

$fontF: "微软雅黑","Micosoft Yahei","Micosoft YaHei","sans-serif";
$fontC: rgb(70,70,70);
$white01: rgba(255,255,255,0.1);
$white04: rgba(255,255,255,0.4);