.end {
	width: 100%;
	background: white center/cover no-repeat;
	justify-content: center;
	.main {
		width: 600rpx;
		height: 750rpx;
		// background-color: red;
		.title {
			color: white;
			font-size: 100rpx;
		}
		.score {
			margin-top: 50rpx;
			height: 100rpx;
			>text {
				font: 70rpx/100rpx $fontF;
			}
			>image {
				width: 40rpx;
				height: 40rpx;
			}
		}
		.next {
			color: $gray50;
			width: 400rpx;
			font: 45rpx/80rpx $fontF;
			text-align: center;
			background-color: rgba(225, 225, 225, 0.8);
			border-radius: 10rpx;
			margin-top: auto;
			box-shadow: 1px 1px 1px 1px dimgray;
		}
	}
	.rank {
		width: 200rpx;
		right: 50rpx;
		>image {
			width: 44rpx;
			height: 50rpx;
			margin-left: 20rpx;
		}
	}
	.calc {
		left: 50rpx;
		>image {
			width: 48rpx;
			height: 48rpx;
			margin-right: 20rpx;
		}
	}
	.topInfo {
		position: absolute;
		line-height: 65rpx;
		top: 70rpx;
		>text {
			color: rgb(97, 67, 51);
			font: bold 31rpx/65rpx $fontF;
		}
		// border-bottom: 1px solid rgba(0, 90, 135, 0.1);
	}
	.wrap {
		width: 100%;
		height: 100%;
		.ol-main {
			width: 620rpx;
			height: 800rpx;
			background-color: ghostwhite;
			border-radius: 10rpx;
			font-family: $fontF;
			padding: 20rpx;
			box-sizing: border-box;
			>text {
				display: inline-block;
				width: 100%;
				line-height: 80rpx;
				font-weight: bolder;
				&.rank-title {
					color: goldenrod;
					border-bottom: 1px solid rgba(211, 187, 145, 0.4);
				}
				&.calc-title {
					border-bottom: 1px solid rgba(211, 204, 170, 0.4);
					color: seagreen;
				}
			}
			.rank-table {
				margin-top: 20rpx;
				width: 100%;
				.rank-td {
					text-align: center;
					&:first-of-type {width:15%;}
					&:nth-of-type(2) {width: 60%;}
					&:last-of-type {width: 25%;}
				}
				.rank-head {
					width: 100%;
					display: flex;
					font: bold 30rpx/45rpx $fontF;
					color: $gray150;
					margin-bottom: 10rpx;
				}
				.rank-tr {
					width: 100%;
					display: flex;
					>view {
						font: 35rpx/58rpx $fontF;
						image {
							height: 46rpx;
							vertical-align: middle;
						}
						.rank-num {
							color: $gray100;
						}
					}
				}
			}
			.calc-table {
				margin-top: 20rpx;
				box-sizing: border-box;
				.calc-td {
					&:first-of-type {width:55%;padding-right: 22rpx;}
					&:last-of-type {width: 45%;}
				}
				.calc-head {
					display: flex;
					>view {
						color: $gray50;
						border-bottom: 2px solid lightgray;
						line-height: 60rpx;
					}
				}
				.calc-tr {
					display: flex;
					&:not(:last-of-type) {border-bottom: 1px solid rgba(200, 200, 200, 0.3);}
					>view {
						color: $gray100;
						font: 30rpx/62rpx $fontF;
					}
				}
			}
		}
	}
}